In [1]:
import pandas as pd
base = pd.read_csv('original.csv')
base.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
x=base.iloc[:, 5:6].values
y=base.iloc[:, 2:3 ].values
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
x = scaler_x.fit_transform(x)
scaler_y = StandardScaler()
y = scaler_y.fit_transform(y)

/Users/kewinkuster/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/kewinkuster/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [15]:
import tensorflow as tf

colunas = [tf.feature_column.numeric_column('x', shape = [1])]

In [16]:
regressor = tf.estimator.LinearRegressor(feature_columns=colunas)

W0410 09:30:50.388298 4672648640 estimator.py:1811] Using temporary folder as model directory: /var/folders/mf/9h2x7zx15t9986ylpx3t_29c0000gn/T/tmpxm4x8goa

In [17]:
from sklearn.model_selection import train_test_split
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(x,y,test_size=0.3)
print(x_treinamento.shape)
print(y_treinamento.shape)
print(x_teste.shape)
print(y_teste.shape)

(15129, 1)
(15129, 1)
(6484, 1)
(6484, 1)

In [18]:
funcao_treinamento = tf.estimator.inputs.numpy_input_fn(
    {'x':x_treinamento}, y_treinamento,batch_size=32, 
    num_epochs=None, shuffle=True)

In [19]:
funcao_teste = tf.estimator.inputs.numpy_input_fn(
    {'x':x_teste}, y_teste, batch_size=32, num_epochs=1000,
    shuffle=False)

In [22]:
regressor.train(input_fn = funcao_treinamento, steps = 10000)

In [28]:
metricas_treinamento = regressor.evaluate(input_fn = funcao_treinamento, steps = 10000)

In [24]:
metricas_teste = regressor.evaluate(input_fn=funcao_teste,steps=10000)

In [29]:
metricas_treinamento

{'average_loss': 0.51191103,
 'label/mean': 0.0014995178,
 'loss': 16.381153,
 'prediction/mean': -0.008369895,
 'global_step': 30000}

In [26]:
metricas_teste

{'average_loss': 0.4994987,
 'label/mean': -0.0028083487,
 'loss': 15.983958,
 'prediction/mean': -0.009320933,
 'global_step': 30000}

In [30]:
import numpy as np
novas_casas = np.array([[800],[900],[1000]])

In [31]:
novas_casas = scaler_x.transform(novas_casas)
novas_casas

/Users/kewinkuster/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-1.39358923],
       [-1.28470655],
       [-1.17582386]])

In [33]:
funcao_previsao = tf.estimator.inputs.numpy_input_fn({'x':novas_casas},
                                                     shuffle=False)

In [35]:
previsoes=regressor.predict(input_fn=funcao_previsao)

In [36]:
list(previsoes)

[{'predictions': array([-0.9696478], dtype=float32)},
 {'predictions': array([-0.89457357], dtype=float32)},
 {'predictions': array([-0.8194992], dtype=float32)}]

In [38]:
for p in regressor.predict(input_fn = funcao_previsao):
    print(p['predictions'])
    print(scaler_y.inverse_transform(p['predictions']))

[-0.9696478]
[184112.3]
[-0.89457357]
[211673.45]
[-0.8194992]
[239234.67]